.backgroundCollaborations{
  text-align: center;
  background-image: url("../img/durackArt/Drip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100%;
  display: compact;
}

.btn-group a{
  background-color: powderblue;
  color: black;
  border-color: grey;
  /* box-shadow:  0px 2px; */
}

#txtDurack{
  margin-top: 5%;
}
