
/* Pictures.html styling */

.picturesContainer img{
	height: 40%;
	width: 40%;
	margin-top: 1%;
	margin-bottom: 1%;
	display: inline;
	}

.picturesHorizontal img{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	height: auto;
	width: 80%;
	}

.picturesSquare img{
	display: inline;
	}

.picturesPano img {
	width: 80%;
	height: auto;
	}

.container img{
	width: 100%;
	height: auto;
}

#horizontal{
}
