
/* Global styling */

.header {
	font-family: courier, serif;
	font-size: 250%;
	color: rgb(255, 79, 15); /* desired orange colour */
	padding: 7px 50px;
	text-decoration: inherit;
	position: relative;
	}

.header:hover{
	border: 2px solid ;
	border-radius: 50px;
	color: rgb(255, 79, 15);
	}

.backgroundFormatting{
	text-align: center;
	background: radial-gradient(black 1px, transparent 2px),
  radial-gradient(black 1px, transparent 2px),
  linear-gradient(#fff 5px, transparent 0),
  linear-gradient(45deg, transparent 60px, transparent 75px, #a4a4a4 60px, #a4a4a4 76px, transparent 77px, transparent 109px),
  linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	/* min-height: 100%;
	overflow: auto; */
	/* position: absolute; */
	}

.dropdown {
	position: relative;
	display: inline-block;
	font-size: 2rem;
	font-family: serif;
	font-family: courier, sans-serif;
	text-decoration: none;
	color: rgb(255, 79, 15);
	border: solid;
	margin: 4% 0%;

	}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: grey;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 18px;
	opacity: 0.75;
	z-index: 1;
	}

.dropdownContent a{
	text-decoration: none;
	color:#b3f0ff;
	display: block;
	}

.dropdownContent a:hover{
	background-color: #f1f1f1;
	color: rgb(255, 79, 15);
	}

.dropdown:hover .dropdownContent {
	display: block;
	}

.introTextContainer{
	margin-bottom: 4%;
	}

.introText {
	background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /*  0.5 opacity */
  color: white; /* Grey text */
  width: 50%; /* Full width */
  padding: 2% 5% ; /* Some padding */
	margin: auto;
	line-height: 200%;
	font-family: courier, serif;
	font-size: 20px;
	}

	.footerContainer{
		max-width: 100%;
		background-color: rgba(176,224,230, 0.7); /*  powderblue with opacity */
		left: 0;
		right: 0;
		padding: 2%;
		margin-top: 5%;
		}

	.footerContainer a{
		text-decoration: none;
		color: black;
	}

	.footerMediaIcons{
		word-spacing: 4rem;
		}

	.footerMediaIcons a:hover{
		opacity: 0.8;
		color: rgb(255, 79, 15);
		}

		.containerCarousel {
		      width: 45%;
		    margin-left: auto;
		  margin-right: auto;}
